@import "tailwindcss";
@plugin "daisyui" {
  themes: black --defalut, cupcake;
}

@plugin "daisyui/theme" {
  name: "black";
  default: true;
  --color-primary: #18181a;
  --color-secondary: #34373b;
}
